<section class="pink ">
    <div class="container ">
        <div class=" d-flex flex-column justify-content-center align-items-center ">
            <div class="blue w-75 m-5 shadow d-flex">
                <div class="w-50 h-50 float-left">
                    <img src="assets/imgs/books.png" alt="books" class="w-100">
                </div>
                <div class="w-50 d-flex flex-column justify-content-center align-items-center">
                    <h1 class="block ">Admin</h1>
                    <a class="inline-block text-decoration-none px-5 py-2 mt-3 btnblue shadow fs-4 "routerLink="/AdminLogin" routerLinkActive="active">Login</a>
                </div>
            </div>
            <div class="blue w-75 m-5 shadow d-flex" >
                <div class="w-50 d-flex flex-column justify-content-center align-items-center">
                    <h1 class="block">User</h1>
                    <a class="inline-block text-decoration-none px-5 py-2 mt-3 btnblue shadow fs-4" routerLink="/UserLogin" routerLinkActive="active">Login</a>

                </div>
                <div class="w-50 h-50 float-left">
                    <img src="assets/imgs/books.png" alt="books" class="w-100">
                </div>
            </div>

        </div>
    </div>

</section>
