<footer class="footer mt-5 bg-body-tertiary">
    <div class="container">
        <div class="row">
            <div class="col-3 p-5">
                <a href="#">
                    <img src="assets/imgs/logo.png" alt="" style="width: 50%;">
                </a>
    
                <div class="mt-4">
                    <p>1203 Town Center</p>
                    <p>Drive FL 33458 USA</p>
                    <p>+0000 123 456 789</p>
                    <a>{{ 'info@example.com' }}</a>
                </div>
            </div>
    
            <div class="col-3 p-5 mt-5">
                <h2 class="fs-2">Help</h2>
                <div class="d-flex help flex-xl-column gap-2 mt-lg-3">
                    <a href="">Search</a>
                    <a href="">Help</a>
                    <a href="">Information</a>
                    <a href="">Privacy Policy</a>
                    <a href="">Shipping Information</a>
                </div>
            </div>

            <div class="col-3 p-5 mt-5">
                <h2 class="fs-2">Support</h2>
                <div class="d-flex help flex-xl-column gap-2 mt-lg-3">
                        <a href="">Search Terms</a>
                        <a href="">Advanced Search</a>
                        <a href="">Helps &amp; Faqs</a>
                        <a href="">Store Location</a>
                        <a href="">Orders &amp; Returns</a>
                    </div>
                </div>

                <div class="col-3 p-5 mt-5">
                    <h2 class="fs-2">Information</h2>
                    <div class="d-flex help flex-xl-column gap-2 mt-lg-3">
                        <a href="">Contact</a>
                        <a href="">About</a>
                        <a href="">Carrers</a>
                        <a href="">Refund &amp; Returns</a>
                        <a href="">Deliveries</a>
                        </div>
                    </div>
                </div>
            </div>
    
                        
            <div class="social-icons">
                <i class="fa-brands fa-x-twitter me-3"></i>
                <i class="fa-brands fa-facebook me-3"></i>
                <i class="fa-brands fa-instagram me-3"></i>
                <i class="fa-brands fa-pinterest-p"></i>
            </div>

            <div class="container">
                <div class="content-bottom p-4 d-flex justify-content-between">
                    <div class="copyright fs-5">
                        <a href="" style="color: #645b4a;"> All Right Reserved
                        </a>
                        <small>© 2024,Bookly-theme</small>
                    </div>

                    <div class="col-md-4 text-end">
                        <img class="w-75" src="assets/imgs/carts.png" alt="Carts">
                    </div>

            </div>
        </div>
</footer>