
<nav class="navbar navbar-expand-lg bg-body-tertiary p-3">
    <div class="container-fluid pe-5 ps-5">
        <a class="navbar-brand" href="#">
            <img src="assets/imgs/logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="leftNav fs-4">
            <!--routerLinkActiveOptions="{ exact: true }": This ensures that the active class is only applied to the "Home" link when the URL exactly matches /.
                This prevents it from being active when you're on a different route-->
            <a class="navbar-brand" routerLink="/"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            <a class="navbar-brand" routerLink="/categories" routerLinkActive="active">Categories</a>
            <a class="navbar-brand" routerLink="/books" routerLinkActive="active">Books</a>
            <a class="navbar-brand" routerLink="/authors" routerLinkActive="active">Authors</a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="middleNav w-50">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </div>

        <div class="navbar-nav align-items-center mb-lg-0 fs-5 ">
            <i class="fa-regular fa-user me-4"></i>
            <p class="text-center mt-3 ">{{ userName }}</p>
            <i class="fa-solid fa-right-from-bracket ms-4"></i>
        </div>
    </div>
    
</nav>

