<app-navbar></app-navbar>

<section class="mt-5">
    <div class="container">
        <div class="row mt-5 text-center paginate"> 
            <div class="col-3" *ngFor="let item of authorsArray | paginate: { itemsPerPage: 8, currentPage: p }; let i = index">
                <div class="box mb-5 text-center">
                    <img [src]="item.thumbnail" alt="Book Image" class="w-100">

                    <div class="author mt-3">
                        <a (click)="author(item.id)">{{ item.title }}</a><!---Author Name-->
                </div>
            </div>
            </div>
            
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</section>