<div *ngIf="isLoading" class="text-center w-100 h-100 bg-body-light d-flex align-items-center justify-content-center flex-column">
    <div>
      <img src="assets/imgs/loading.webp" alt="Loading..." />
    </div>
    <div>
      <h2>Sorry for the Inconvenience please hold on a bit ...</h2>
    </div>
   
  </div>
<app-navbar [ID]="tok"></app-navbar>

<section class="product p-5 pt-2">
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-12 col-md-6 col-lg-4">
                <img [src]="authorDetails.image" alt="Product Image" class="w-100" />
            </div>

            <div class="col-12 col-md-6 col-lg-8 p-5 author">
                <h1>{{ authorDetails.firstName }} {{ authorDetails.lastName }}</h1>
                <h3>{{ authorDetails.nationality }}</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at dignissim nisl. Aliquam erat volutpat. 
                    Integer vitae purus at sapien facilisis suscipit. Sed auctor, justo eu dignissim tempor, mauris orci maximus quam, 
                    at pellentesque tortor felis a sapien. Sed ut lectus at ipsum aliquet rhoncus. Phasellus vulputate, nisi a efficitur tincidunt, 
                    ipsum mauris aliquet ipsum, eget congue tortor nulla ac dui. Nam vitae turpis eget urna tincidunt aliquam. Quisque non malesuada libero. 
                    Nullam id risus vehicula, commodo ligula non, efficitur ante.
                </p>
            </div>
        </div>

        <!-- Author's Books -->
        <div class="AuthorBooks p-5 text-dark mt-5">
            <h1 style="color: #645b4a" class="fs-1">Author's Books:</h1>
        
            <!-- Book Details -->
            <div class="mt-4">
                <div *ngFor="let author of authorbook" class="books"
                    [ngClass]="{'d-none': author.author._id !== authorDetails._id}">
                    <div class="booksInfo d-flex">
                        <div class="w-25 h-50 m-3">
                            <img [src]="author.image" alt="book" class="w-100">
                        </div>
                        
                        <div class="w-75 d-flex justify-content-start flex-column book p-5">
                            <h1 style="color: #565657">{{ author.title }}</h1>
                            <p class="w-75">{{ author.description }}</p>                            
                            
                            <!-- Rating -->
                            <div class="rating d-flex gap-3 mb-0">
                                <p
                                class="text-start"
                                [innerHTML]="convertRatingToStars(author.rating)"
                                >
                                <!-- StarsRating -->
                                </p>
                                <p>{{ author.rating }}</p>
                                <p>- {{ author.rating }} ratings</p>
                            </div>

                            <!-- your status -->
                            <div class="yourStatus mt-3">
                                <div class="dropdown">
                                <button
                                    class="btn btn-light btn-sm dropdown-toggle status"
                                    type="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                    [ngStyle]="{
                                    width: selectedStatus === 'Currently read' || selectedStatus === 'Want to read' ? '20%' : '15%'
                                    }"
                                >
                                    {{ selectedStatus }}
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                    <a class="dropdown-item" href="#" (click)="onStatusClick('Currently read',$event)">Currently read</a>
                                    </li>
                                    <li>
                                    <a class="dropdown-item" href="#" (click)="onStatusClick('Want to read',$event)">Want to read</a>
                                    </li>
                                    <li>
                                    <a class="dropdown-item" href="#" (click)="onStatusClick('Read',$event)">Read</a>
                                    </li>
                                </ul>
                                </div>
                    
                                <!-- Stars -->
                                <!-- <i class="fa-solid fa-star"></i> -->
                                <div class="yourstars mt-3">
                                <i *ngFor="let star of stars; let i = index" 
                                    [ngClass]="{
                                        'fa-solid': i < currentHoveredStar,
                                        'fa-regular': i >= currentHoveredStar,
                                        'fa-star': true
                                    }"
                                    [attr.data-value]="i + 1" 
                                    (click)="onStarClick(i + 1)"
                                    (mouseenter)="onStarHover(i + 1)"
                                    (mouseleave)="onStarLeave()">
                                </i>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>