
<app-navbar></app-navbar>

<section class="product mt-5">
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-12 col-md-4">
                <img [src]="bookDetails.images[0]" alt="Product Image" class="w-100">
            </div> 

            <div class="col-12 col-md-8 mt-5 bookDetail">
                <h3>{{bookDetails.title}}</h3> <!--Book Name-->
                <h4>{{bookDetails.title}}</h4> <!--by Book Author-->
                <h5>{{bookDetails.title}}</h5> <!--Category Author-->
                <h5>{{bookDetails.title}}</h5> <!--Description-->


                <div class="rating d-flex gap-3">
                    <p class="text-start stars" [innerHTML]="convertRatingToStars(bookDetails.rating)">
                        <!-- StarsRating -->
                    </p>
                    <p>{{bookDetails.rating}}</p>
                    <p> - {{bookDetails.rating}} ratings</p>
                </div>

                <div class="ownReview">
                    <div class="dropdown">
                        <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Read <!--Return Backend-->
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item active" href="#">Currently read</a></li>
                            <li><a class="dropdown-item" href="#">Want to read</a></li>
                            <li><a class="dropdown-item" href="#">Read</a></li> 
                        </ul>
                    </div>

                    <div class="stars mt-3 fs-5">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>

                    </div>
                </div>

            </div>
        </div>

        <div class="reviews p-5 text-dark">
            <h4 style="color: #645b4a;" class="fs-2">Reviews:</h4>

            <div class="row">
                @for (item of bookDetails.reviews; track $index) {
                <div class="col-12 col-md-4">
                        <div class="reviewer">
                            <i class="fa-solid fa-user-astronaut fs-3 mt-4"></i>
                            <h4 style="color: #565657;">{{ item.reviewerName }}</h4>
                        </div>

                        <h4 class="fw-normal">{{ convertDate(item.date) }}</h4>
                        <p class="fs-5">{{ item.comment }}</p>

                        <p class="text-start stars mt-0 mb-0" [innerHTML]="convertRatingToStars(item.rating)">
                            <!-- StarsRating -->
                        </p>
                    </div>
                }
            </div>

            <div class="d-flex flex-column gap-3 mt-4" style="color: #565657;">
                <h3 style="color:#3b82f6;;" class="fs-2 fw-medium">Enter Your Review:</h3>

                <div class="row">
                    <div class="col-md-4">
                        <div class="d-block">
                            <label for="comment" class="fs-5 me-2" style="color: #565657;">Name</label>
                            <input class="me-4"
                                pInputText 
                                id="comment" 
                                aria-describedby="comment-help" 
                                [(ngModel)]="name" />
                            
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <label for="stacked " class="fs-5 me-2" style="color: #565657;">Rate</label>
                            <p-inputNumber 
                            [(ngModel)]="rate" 
                            [showButtons]="true" 
                            inputId="stacked" 
                            [min]="0" 
                            [max]="5" 
                            mode="decimal" 
                            [step]="1"/>
                        </div>

                        <div class="col-md-4">
                            <span class="fs-5 me-2" style="color: #565657;">comment</span>
                            <textarea 
                                rows="2"
                                cols="30" 
                                pInputTextarea 
                                [(ngModel)]="comment">
                            </textarea>

                            <i class="fa-solid fa-share fs-3 ms-4" (click)="sendReview()" style="color: #3b82f6;"></i>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>