<div class="container mt-5 d-flex justify-content-center">
  <div class="w-50">
    <h3 class="text-dark border-bottom mb-5">Edit Book</h3>
  <form [formGroup]="EditForm" (ngSubmit)="UpdateBook()">
    <div class="mb-3">
      <label for="booktitle" class="form-label">Book Title</label>
      <input type="text"  id="booktitle" formControlName="booktitle"  class="form-control">
    </div>
    <div class="mb-3">
      <label for="cat">Category</label>
       <input type="text" id="cat" formControlName="category" class="form-control">
    </div>
    <div class="mb-3">
      <label for="Authors">Author</label>
       <select id="Authors" formControlName="author" class="form-select">
       <option *ngFor="let Book of priceList" [value]="Book.price">{{Book.price}}</option>
      </select> 
    </div>
    <div class="mb-3">
      <label for="bookimage" class="form-label"> Book Image</label>
      <input type="text"  id="bookimage" class="form-control" formControlName="bookimage">
    </div> 
    <div class="mb-3">
      <label for="description" class="form-label"> Description</label>
      <textarea  id="description" formControlName="description" class="form-control" rows="5"></textarea>
    </div>
    
    <button type="submit" class="btn text-light" >Save Edit </button>
  </form>
  </div>
</div>
