<app-navbar></app-navbar>

<section class="mt-5">
    <div class="container">
        <div class="row mt-5 text-center paginate"> 
            <div class="col-3" *ngFor="let item of categoryArray | paginate: { itemsPerPage: 8, currentPage: p }; let i = index">
                <div class="box mb-5 text-center Boxes">
                    <img [src]="item.img" alt="Book Image" class="w-100">
                    <div class="content mt-3">
                        <a (click)="singlebook(item.id)">{{ item.bookName }}</a><!---Book Name -->
                        <a (click)="author(item.id)">{{ item.bookAuthor }}</a><!---Author Name -->
                </div>
            </div>
            </div>
            
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</section>