

<div class="container-fluid position-relative mt-5">
    <div class="row">
        <div class="col-3 text-center">
            <div class="sidebar p-3">
                <a (click)="filterProducts('All')" >All</a>
                <a (click)="filterProducts('Read')">Read</a>
                <a (click)="filterProducts('Reading')">Currently Reading</a>
                <a (click)="filterProducts('Want to read')">Want To Read</a>
            </div>
        </div>

        <div class="col-9">
            <p-table [value]="filteredProducts" [tableStyle]="{'min-width': '60rem'}"
                [paginator]="true" [rows]="4"
            >
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between fs-3">
                        {{currentFilter}}
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Cover</th>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Avg Rate</th>
                        <th>Rating</th>
                        <th>Shelve</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td><img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.cover" [alt]="product.name" width="100" class="shadow-4" /></td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.author }}</td>
                        <td><p-rating [(ngModel)]="product.avgRate" [readonly]="true" [cancel]="false" /></td>
                        <td><p-rating [(ngModel)]="product.rating" [readonly]="true" [cancel]="false" /></td>
                        <td>
                            <!-- <p-dropdown [options]="dropdownOptions" [(ngModel)]="product.items" placeholder="Select an item"
                                (onChange)="onItemChange(product, $event)">
                            </p-dropdown> -->
    
                            <!-- <p-dropdown 
                                [options]="cities" 
                                [(ngModel)]="selectedCity" 
                                optionLabel="name" 
                                placeholder="Select a City"> </p-dropdown> -->
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
