
<div *ngIf="isLoading" class="text-center w-100 h-100 bg-body-light d-flex align-items-center justify-content-center flex-column">
   <div>
     <img src="assets/imgs/loading.webp" alt="Loading..." />
   </div>
   <div>
     <h2>Sorry for the Inconvenience please hold on a bit ...</h2>
   </div>
  
</div>
<app-admin-header></app-admin-header>
<div *ngIf="!isLoading" class="container-fluid position-relative mt-5 ">
  <div class="d-flex justify-content-center">
    <div class="col-md-9 col-12">
    
      <p-table [value]="BooksList" [tableStyle]="{'min-width': '60rem'}"
          [paginator]="true" [rows]="10"
      >
          
          <ng-template pTemplate="header">
              <tr>
                  
                <th >ID</th>
                <th>Image</th>
                <th>Name</th>
                <th>Category ID</th>
                <th>Author </th>
                <th>Edit</th>
                <th>Delete</th>
                <th><app-admin-books-form></app-admin-books-form></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-BOOK>
              <tr class="border-bottom">
                  <td>{{BOOK._id}}</td>
                  <td><img [src]="BOOK.image" alt="book"></td>
                    <td>{{BOOK.title}}</td>
                    <td>{{BOOK.Category}}</td>
                    <td>{{BOOK.author.firstName}}</td>
                    <td><i class="fa fa-edit btn  " aria-hidden="true" data-bs-toggle="modal" data-bs-target="#EditModal" (click)="EditBook(BOOK._id) "></i></td>
                    <td><i class="fa fa-trash btn " aria-hidden="true" (click)="DeleteBook(BOOK._id)"></i></td>
              </tr>
          </ng-template>
      </p-table>

  </div>
</div>
