/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
.baskervville-regular {
    font-family: "Baskervville", serif;
    font-weight: 500;
    font-style: bold;
    font-size: 1.5rem;
}
  
.baskervville-regular-italic {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: italic;
}
  
  

a{
    cursor: pointer;
}

img{
    width: 30%;
}

/* Paginate */
.paginate .ngx-pagination {
    font-size: 23px;
    color: #a5a4a4 ;
}
.paginate .ngx-pagination .current{
    background-color: #daeaff;
    color: #5959ff;
}

/* Hover Boxes */
.Boxes{
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 12px;
}

.Boxes:hover {
    transform: scale(1.1);
    border-color: #ccc; 
}

.d-width{
    margin-top: 2%;
    width: max-content !important;
    float: inline-end;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2c466b;
}
.d-width:hover{
    background-color: #53aede;

}
.plus-icon{
    padding: 10px;
}
.btn{
    cursor: pointer;
    font-size: 20px;
    
}
.blue{
    color: #2c466b !important;
    
}
.btnblue{
    background-color: #2c466b !important;
    color: white !important;
}
.btnblue:hover{
    background-color: #53aede !important;
}

.paginate .ngx-pagination {
    font-size: 23px;
    color: #a5a4a4 ;
}
.paginate .ngx-pagination .current{
    background-color: #daeaff;
    color: #5959ff;
}
.fa-trash{
    color: #fb788d !important;
}
.fa-edit{
    color: #f6bbab !important;
}
.pink{
    color:#cd4a58 !important ; 
 }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

