/* You can add global styles to this file, and also import other style files */
.d-width{
    margin-top: 2%;
    width: max-content !important;
    float: inline-end;
    border-radius: 5px;
    cursor: pointer;
    background-color: #537d90;
}
.plus-icon{
    padding: 10px;
}
.btn{
    cursor: pointer;
    font-size: 20px;
    
}
.blue{
    color: #537d90 !important;
    
}
.btnblue{
    background-color: #537d90 !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
