<div class="container">
    <app-admin-catrgory-form></app-admin-catrgory-form>
    <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            
            
          </tr>
        </thead>
        <tbody style="vertical-align: middle;">
                <tr *ngFor="let cat of CategoriessList; let i = index ">
                    <td>{{i+1}}</td>
                    <td>{{cat.name}}</td>
                    <td><i class="fa fa-edit text-warning btn" aria-hidden="true" (click)="EditCategory(i)" ></i></td>
                    <td><i class="fa fa-trash text-danger btn" aria-hidden="true" (click)="DeleteCategory(i)"></i></td>
                  </tr>
        </tbody>
      </table>
    
</div>
