<app-admin-header></app-admin-header>
<div class="container-fluid position-relative mt-5 ">
  <div class="d-flex justify-content-center">
    <div class="col-md-9 col-12">
    
      <p-table [value]="CategoriessList" [tableStyle]="{'min-width': '60rem'}"
          [paginator]="true" [rows]="10"
      >
          
          <ng-template pTemplate="header">
              <tr>
                  
                  <th>ID</th>
                  <th>Name</th>
                  <th>Edit</th>
                  <th>Delete</th>
                  <th><app-admin-catrgory-form></app-admin-catrgory-form></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-cat>
              <tr class="border-bottom">
                  <td>1</td>
                  <td>{{cat.name}}</td>
                  <td><i class="fa fa-edit  btn" aria-hidden="true" (click)="EditCategory(1)" ></i></td>
                  <td><i class="fa fa-trash  btn" aria-hidden="true" (click)="DeleteCategory(1)"></i></td>
              </tr>
          </ng-template>
      </p-table>

  </div>
</div>
