<div class="inline-block  d-width " data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-plus text-light plus-icon" aria-hidden="true"></i></div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          
          <h5 class="modal-title pink  fs-3" id="exampleModalLabel">Add Author</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addForm" (ngSubmit)="AddAuthor()">
            <div class="mb-3">
              <label for="fname" class="form-label fw-normal">Author First Name</label>
              <input type="text"  id="fname" formControlName="authorfname" class="form-control">
            </div>
            @if (addForm.controls['authorfname'].errors?.['required'] && addForm.controls['authorfname'].touched) {
              <div class="mb-4"><small id="name" class="form-text text-danger inline-block ms-4 ps-3">Author Last Name Required</small></div>
          }
            <div class="mb-3">
              <label for="lname" class="form-label fw-normal">Author Last Name</label>
              <input type="text"  id="lname" formControlName="authorlname" class="form-control">
            </div>
            @if (addForm.controls['authorlname'].errors?.['required'] && addForm.controls['authorlname'].touched) {
              <div class="mb-4"><small id="name" class="form-text text-danger inline-block ms-4 ps-3">Author Last Name Required</small></div>
          }
            <div class="mb-3">
              <label for="lname" class="form-label fw-normal">Author Nationality</label>
              <input type="text"  id="lname" formControlName="authornationality" class="form-control">
            </div>
            <!-- <div class="mb-3">
              <label for="image" class="form-label fw-normal">Author Image</label>
              <input type="file" id="image" formControlName="authorimage" class="form-control">
            </div>
            @if(notvalid){
              <div class="mb-2"><span class="text-danger fw-normal">Make sure you Enter First Name and Last Name at least </span></div>
            } -->
            <button type="submit" class="btn btnblue">Add Author</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  
  
