<div *ngIf="isLoading" class="text-center w-100 h-100 bg-body-light d-flex align-items-center justify-content-center flex-column">
  <div>
    <img src="assets/imgs/loading.webp" alt="Loading..." />
  </div>
  <div>
    <h2>Sorry for the Inconvenience please hold on a bit ...</h2>
  </div>
 
</div>
<section *ngIf="!isLoading">
  <app-admin-header></app-admin-header>
<div class="container-fluid position-relative mt-5">
  <div class="d-flex justify-content-center">
    <div class="col-md-9 col-12">
      <p-table
        [value]="AuthorsList"
        [tableStyle]="{ 'min-width': '60rem' }"
        [paginator]="true"
        [rows]="10"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Image</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Nationality</th>
            <th>Edit</th>
            <th>Delete</th>
            <th><app-admin-author-form></app-admin-author-form></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-author>
          <tr class="border-bottom">
            <td>{{ author._id }}</td>
            <td><img [src]="author.image" alt="Person" /></td>
            <td>{{ author.firstName }}</td>
            <td>{{ author.lastName }}</td>
            <td>{{ author.nationality}}</td>
            <td>
              <i
                class="fa fa-edit btn"
                aria-hidden="true"
                (click)="EditAuthor(author._id)"
              ></i>
            </td>
            <td>
              <i
                class="fa fa-trash btn"
                aria-hidden="true"
                (click)="DeleteAuthor(author._id)"
              ></i>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

</section>
