<div class="container">
  <app-admin-author-form></app-admin-author-form>
    <table class="table mt-5">
      
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Image</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            
          </tr>
        </thead>
        <tbody style="vertical-align: middle;">
                <tr *ngFor="let author of AuthorsList"  >
                    <td>{{author.id}}</td>
                    <td><img [src]="author.image" alt="Person"></td>
                    <td>{{author.firstName}}</td>
                    <td>{{author.lastName}}</td>
                    <td><i class="fa fa-edit text-warning btn" aria-hidden="true" (click)="EditAuthor(author.id)"></i></td>
                    <td><i class="fa fa-trash text-danger btn" aria-hidden="true" (click)="DeleteAuthor(author.id)"></i></td>
                  </tr>
        </tbody>
      </table>
